/* 
   
.center-link {
  align-items: center;
  color: white;
  justify-content: center;
}


.navbar {
  width: 100%;
  height: 100px;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;

.Nav{
    background: rgba(72, 109, 240, 0.9);
    height: 100px;
  }
  
  .Logo{
    position: fixed;
    padding-left: 30px;
  }
  
  
  .search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

 */


 .navbar {
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #486DF0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 20px;
  /* display: flex; */
  align-items: center;
  margin-left: 20px;
}

.center-link a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  
  font-size: 25px;
}

.links a {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-end; 
}